Index:
    StandardLibrary: Yes

Diagnostics:
    Suppress: []
    ClangTidy:
        Add: [ 'modernize*', 'bugprone-*', 'clang-analyzer-*' ]
        Remove: [ 'bugprone-easily-swappable-parameters', 'bugprone-assignment-in-if-condition' ]

InlayHints:
    Enabled: Yes
    Designators: Yes
    ParameterNames: Yes
    DeducedTypes: Yes

Hover:
    ShowAKA: Yes
