root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.{c,h}]
indent_size = 4
indent_style = space
tab_width = 8

[*.json]
indent_size = 2
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[Makefile]
indent_size = 4
indent_style = tab
